body {
  background: rgb(31, 30, 55);
  background: linear-gradient(90deg, rgba(31, 30, 55, 1) 0%, rgba(118, 118, 167, 1) 35%, rgba(121, 149, 154, 1) 100%);
}

#jumbo_bkmain {
  /* background-image: url(https://www.cloudways.com/blog/wp-content/uploads/20-Best-Web-Design-Tools-for-Design-Agencies.jpg);*/
  background-image: url("../img/backgroundmain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  /* -webkit-filter: sepia(100%);
      -moz-filter: sepia(100%);
      -o-filter: sepia(100%);
      -ms-filter: sepia(100%); */
  /* filter: sepia(100%); */
}

#title-name-jumbotron {
  background-color: #343a40 !important;
  color: white;
  box-shadow: 5px 5px grey;
  width: 100%;
  height: 12vh;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#title-profesion-jumbotron {
  background-color: #343a40 !important;
  color: white;
  box-shadow: 5px 5px grey;
  width: 100%;
  height: 12vh;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;


}

#image-box-perfil>img {
  width: 100%;
  height: 50vh;
  border-radius: 50%;
}


/* caousel  */
.carousel-item>img {
  height: 75vh;
}

@media only screen and (max-width: 770px) {
  #image-box-perfil>img {
    width: 100%;
    height: 45vh;
    border-radius: 50%;
    /* padding: 4px; */
  }
}



@media only screen and (max-width: 994px) {
  #title-name-jumbotron {
    background-color: grey;
    width: 100%;
    height: 10vh;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  #title-profesion-jumbotron {
    background-color: #343a40 !important;
    color: white;
    box-shadow: 5px 5px grey;
    width: 100%;
    height: 10vh;
  }

}


/* PORTAFOLIO  */
.cardimgPortafolio{
  height: 40vh;
}




/* footer  */
footer .redes-sociales {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}

footer .redes-sociales a {
  display: block;
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;
  margin: 10px;
  text-align: center;
  border-radius: 100px;
  transition: .3s ease all;
}

footer .redes-sociales .twitter {
  background: #1da1f2;
}

footer .redes-sociales .facebook {
  background: #3b5998;
}

footer .redes-sociales .instagram {
  background: #c13584;
}

footer .redes-sociales a i {
  font-size: 20px;
  line-height: 40px;
}

footer .contenedor-icono:hover a {
  animation: icono .5s ease;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}