#jumbo_bkmain {
  /* background-image: url(https://www.cloudways.com/blog/wp-content/uploads/20-Best-Web-Design-Tools-for-Design-Agencies.jpg);*/
  background-image: url("../img/backgroundmain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  /* -webkit-filter: sepia(100%);
      -moz-filter: sepia(100%);
      -o-filter: sepia(100%);
      -ms-filter: sepia(100%); */
  /* filter: sepia(100%); */
}

#title-name-jumbotron {
  background-color: #343a40 !important;
  color: white;
  box-shadow: 5px 5px grey;
  width: 100%;
  height: 12vh;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;


}

#title-profesion-jumbotron {
  background-color: #343a40 !important;
  color: white;
  box-shadow: 5px 5px grey;
  width: 100%;
  height: 12vh;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;


}

@media only screen and (max-width: 994px) {
  #title-name-jumbotron {
    background-color: grey;
    width: 100%;
    height: 10vh;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  #title-profesion-jumbotron {
    background-color: #343a40 !important;
    color: white;
    box-shadow: 5px 5px grey;
    width: 100%;
    height: 10vh;
  }

}