#inicio{
    width: 1000px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/*Header*/
header{
    justify-content: baseline;
    display: block;
    flex-direction: row;
    width: 100%;
    height: 95px;
    background-color: rgb(216, 222, 222);
}

#logo{
    width: 10%;
    align-items: left;
}

/*Menu*/

#navlist {
    background-color: #eddc20;
    position: absolute;
    width: 65.8%;
}

#navlist a {
    float:left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}

.navlist-right{
    float:right;
}

#navlist a:hover {
    background-color: rgb(226, 212, 16);
    color: black;
}

.search input[type=text]{
    width:300px;
    height:25px;
}

.search{
    float:right;
    margin:7px;
}

.search button{
    background-color: #f5d402;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
} 

/*Botones*/
.boton {
    float: right;
    padding: 5px; 
    background-color: #ff0d0d; 
    color: #ffffff;
    text-decoration: none; 
    font-family: 'Helvetica', sans-serif; 
    margin: 20px;
    }

    /*footer*/

footer{
    width: 100%;
    background-color: rgb(150, 123, 1);
    color: white(1, 1, 1);
    float: left;
    padding: 5px;

}

.horizontal-menu{
    padding: 15px 10px 10px 0px;
    width: 100%;
    justify-content: left;
    text-align:right ;
}
.horizontal-menu a{
    background-color: none;
    color: white;
    padding: 5px;
    text-decoration: none;
}
.vertical-menu a:hover{
    background-color: #f0aa14;
}

.vertical-menu a.active{
    background-color: rgb(250, 214, 12);
    color: #ffffff;
}

/*Second*/
#second{
    width: 100.8%;
    margin-top: 90px;
    background-color: #e7b915;
}